{% extends 'base.html' %}

{% load static %}

{% block title %} Teachers List {% endblock %}

{% block content %}

<h2>Teachers List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Subject</th>
            <th>Gender</th>
            <th>Image</th>
            <th>Birth Date</th>
            <th>Age</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.get_full_name }}</td>
            <td>
                {% if teacher.subject %}
                {{ teacher.subject.name }}
                {% else %}
                No Subject
                {% endif %}
            </td>
            <td>{{ teacher.get_gender_display }}</td>
            <td><img src="{{ teacher.image.url }}" alt="{{ teacher.first_name }} {{ teacher.last_name }}" width="50">
            </td>
            <td>{{ teacher.birth_date }}</td>
            <td>{{ teacher.age }}</td>
            <td>{{ teacher.description|truncatewords:10|safe }}</td>
            <td>{{ teacher.created_at }}</td>
            <td>{{ teacher.updated_at }}</td>
            <td>{{ teacher.is_active|yesno:"Active,Inactive" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}